/*
Theme's main style.

@author Vee W.
*/
@import 'flexvideo.css';


.pagination {
    margin: 0;
}
.pagination-center {
    text-align: center;
}
.pagination-row {
    margin-bottom: 20px;
}


.page-header {
    margin-bottom: 20px;
}


.page-header-top-right {
    margin-top: 10px;
}


.post-view-attachment .entry-attachment .attachment {
    text-align: center;
}
.post-view-attachment .entry-attachment .attachment .card {
    margin: 0 auto;
    width: 400px;
}
.post-view-attachment .entry-attachment .attachment .wp-video {
    margin: 0 auto;
}


.row-with-vspace {
    margin-bottom: 20px;
}


.site-footer {
    background-color: #f5f5f5;
    border-top: 3px solid #ddd;
    font-size: 12px;
    padding: 10px;
}


.site-main .format-aside {
    background: #f5f5f5;
}
.site-main .format-image {
    background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
    background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
    background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
    background: url('../img/content-post-format-video.png') left top no-repeat;
}


.site-title {
    margin-bottom: 0;
    margin-top: 10px;
}
.site-title > a {
    text-decoration: none;
}
.site-title > div {
    height: auto;
    line-height: 18px;
}
.site-title .site-description {
    color: #999;
    font-size: 16px;
}
.site-title .site-title-heading {
    margin: 0;
}


.widget_calendar .calendar_wrap table {
    font-size: 14px;
    margin: 0;
}
.widget_calendar .calendar_wrap table caption {
    caption-side: top;
}
.widget_calendar .calendar_wrap .table td,
.widget_calendar .calendar_wrap .table th {
    padding: 8px;
}
.widget_calendar .calendar_wrap .table #next {
    text-align: right;
}


#comments .comment-navigation,
#comments .comment-navigation-below {
    margin-bottom: 20px;
    margin-top: 15px;
}
#comments .comment-navigation {
    list-style: none;
    margin-top: 0;
    padding: 0;
}
#comments .comment-respond {
    margin-top: 20px;
}
#comments .media-list li .media {
    margin-top: 15px;
}
#comments .media-list li .media .media-body {
    border: 1px solid #eee;
    padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
    font-size: 12px;
    margin-bottom: 10px;
}
#comments .media-list ul.children {
    list-style: none;
    margin-left: 4em;
    padding-left: 0;
}


#main .wp-video-shortcode {
    display: block;
    height: auto;
    max-width: 100%;
}
#main .attachment .entry-content {
    margin-bottom: 20px;
}
#main .attachment .entry-content .attachment {
    text-align: center;
}
#main .attachment .entry-meta {
    margin-bottom: 20px;
}
/* fix auto img responsive */
#main .post .entry-content img {
    height: auto;
    max-width: 100%;
}
#main .post,
#main .page {
    /* border: 1px solid #eee; */
    margin-bottom: 20px;
    overflow-x: auto;
    /* padding: 10px; */
}
#main .post .entry-header .entry-meta {
    color: #999;
    font-size: 0.8rem;
}
#main .post .entry-header .entry-meta a {
    color: inherit;
}
#main .post .entry-header .entry-meta .posted-on .updated {
    display: none;
}
#main .post .entry-meta .categories-icon {
    cursor: default;
}
#main .post .entry-meta .comments-link a {
    color: #333;
}
#main .post .entry-meta .comments-link a .comment-total,
#main .page .entry-meta .comments-link a .comment-total {
    color: #555;
}
#main .attachment .edit-post-link a, 
#main .attachment .entry-meta .edit-post-link a, 
#main .post .entry-meta .edit-post-link a,
#main .page .entry-meta .edit-post-link a {
    color: #333;
}
#main .post .entry-meta .tags-icon {
    cursor: default;
}
#main .attachment .entry-title, 
#main .post .entry-title,
#main .page .entry-title {
    margin-top: 0;
    word-wrap: break-word;
}


#sidebar-left .widget,
#sidebar-right .widget {
    border: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
    padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
    font-size: 18px;
    margin-top: 0;
}


/* Fix Bootstrap 4 */
.navbar {
    min-height: 54px;/* With this, we can use navbar without navbar-brand */
}

/* Override gform css */

.gform_fields {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.gform_fields li {
    margin-bottom: 15px;
}

.gform_wrapper .top_label .gfield_label {
    margin-bottom: 0 !important;
}

.gform_fields input, 
.gform_fields textarea,
.gform_fields select {
    width: 100% !important;
    max-width: 100% !important;
}